:root {
    --white: #FFFFFF;
    --gray: #808080;
}

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 800px;
    padding: 20px;
    text-align: center;
}

.login-box {
    background: var(--white);
    padding: 30px 20px;
    border-radius: 10px;
}

.login-container h1 {
    font-size: 20px;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 30px;
}

.login-box h3 {
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--gray);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    background: #F9FAFB;
    font-size: 12px;
}

.password-container {
    position: relative;
}

.password-container button {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
}

.forgot-password {
    display: block;
    text-align: end;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--gray);
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    background-color: #1D4ED8;
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 14px;
}




























/*
